.wrapper-content{
    width: 100vw;

    height: 70vw;

    z-index: -9999;

    top: -60px;
}

.wrapper-content button{
    display: block;

    margin: 0 auto;

    padding: 20px;

    font-size: 24px;
}

.wrapper-content p{
    font-size: 18px;
}

